body, html {
    height: 100%;
    /* The image used */
    background-image: url("../images/desktop.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.fighter_pic{
    visibility: hidden;
}

.avatar_pic{
    visibility: visible;
}

#attackButton{
    visibility: hidden;
}

.avatar_pic {
    width: 250px;
    margin: 10px;
}

.fighter_pic {
    width: 250px;
    margin: 10px;
}

#bulbaHP, #charHP, #dratiniHP, #vapoHP {
    position: absolute;
    bottom: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  