.fighter_pic{
    visibility: visible;
}

.avatar_pic{
    visibility: visible;
}

#attackButton{
    visibility: hidden;
}

.avatar_pic {
    width: 250px;
    margin: 10px;
}

.fighter_pic {
    width: 250px;
    margin: 10px;
}

.fighter_pic h3 {
    position: absolute;
    bottom: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  